  

<% if @vehicle.user.id == User.find(session[:user_id]).id %>
<h2>Edit a Vehicle</h2>
<form method="POST" action="/vehicles/<%= @vehicle.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <br>
    <label>Make:</label>
    <input type="text" name="make" value="<%= @vehicle.make %>">
    <br>
    <label>Model:</label>
    <input type="text" name="model" value ="<%= @vehicle.model %>"
    <br>
    <br>
    <input type="submit" value ="Submit">
</form>
<% else %>
<h2>You do not have access to this page</h2>
<% end %>
