<h2>Add a New Vehicle</h2>

<form method="POST" action="/vehicles">
    <select name="user_id">      
        <option value="<%= @current_user.id %>"><%= @current_user.username %></option>
    </select>
    <br>
    <label>Make:</label>
    <input type="text" name="make">
    <br>
    <label>Model:</label>
    <input type="text" name="model">
    <br>
    <label>Money Invested (ex: 40000):</label>
    <input type="text" name="money_invested">
    <br>
    <input type="submit">
</form>