
<h1>Welcome to your online garage, <%= @user.username %> </h1>

<p>Here are some options for you</p>

<p><a href="/logout">Log Out</a></p>
<p><a href="/vehicles/new">Upload Vehicle</a></p>
<% @user.vehicles.each do |vehicle| %>
    <p><a href="/vehicles/<%= vehicle.id %>"><%= vehicle.model %></a></p>
<% end %>
<p><a href="/vehicles">View all Vehicles</a></p>
